body {
	background-color: #FFDAB9;
	font-family: 微軟正黑體;
	font-weight: normal;
}

.main-area{
	background-color: #FAEBD7;
	margin-left:2%;
	margin-right:2%;
	margin-top:20px;
	height:100%;
	border-radius:10px; 
}

#title{
	text-align:center;
	height: 60px;
	width: 500px;
	margin-left:auto;
	margin-right:auto;
	padding-top:50px;
	font-size:50px;
}

#game-area{
	
	background-color: black;
	height: 430px;
	width: 640px;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	border-radius:20px;
	
	font-family: 微軟正黑體;
	font-weight: normal;
	font-size:30px;
}



h1{
	text-align:center;
	margin-top:10%;
}

p{
	text-align:center;
	font-size:50px;
	margin-top:3%;
	background-color:yellow;
}

input{
	width:20%;
	margin-left:40%;
	margin-right:40%;
	margin-top:20px;
}